<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GitHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GitHub Ranking</ion-title>
    </ion-toolbar>
  </ion-header>



  <div id="container">



    <form (ngSubmit)="pesquisa()">

      <ion-list>
        <ion-item>
          <ion-select  [(ngModel)]="linguagem"  name="linguagem" placeholder="Linguagem">
            <ion-select-option value="c++">C++</ion-select-option>
            <ion-select-option value="javascript">JavaScript</ion-select-option>
            <ion-select-option value="java">Java</ion-select-option>
            <ion-select-option value="html">Html</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button type="submit">Enviar</ion-button>

    </form>
    <ion-button type="button" (click)="limpar()">Limpar </ion-button>


    <ion-list *ngFor="let r of repositorios; let i = index" no-lines>
      <ion-item>

        <ion-badge slot="start">{{ i+1 }}</ion-badge>
        <ion-badge slot="end">{{ r.total_count }}</ion-badge>
        <ion-label>{{ r.linguagem }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
