<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <form (ngSubmit)="pesquisa()">
      <ion-input type="text"
                 placeholder="Nome do repositório:"
                 name="nome"
                 [(ngModel)]="nome"></ion-input>

      <ion-button type="submit">Enviar</ion-button>
    </form>

    <ion-list *ngFor="let r of repositorios; let i = index" no-lines>
      <ion-item>
        ID: {{ r.id }} -Nome: {{ r.name }} -URL: {{ r.html_url }}
      </ion-item>
    </ion-list>
  </div>
